
body{
    margin: 0;
    padding: 0;
}

.forms-container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../assets/login.jpg);
    display: grid;
    align-items:center;
    justify-content:center;
}

.cadastro-content{
    text-align: center;
    width: 250px;
    height: 350px;
}

#form-one{
    border: solid black 5px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    padding-bottom: 10px;
}

#cadastro-msg{
    font-weight: bolder;
    font-size:large;
    color:red;
}

.login-content{
    text-align: center;
    width: 250px;
    height: 350px;
}

#form-two{
    border: solid black 5px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    padding-bottom: 10px;
}

#login-msg{
    font-weight: bolder;
    font-size:large;
    color:red;
}